@import 'styles/_functions';

.featuring {
  position: relative;
  padding-top: mobile-vw(120px);
  padding-bottom: mobile-vw(160px);
  color: var(--theme-secondary);

  @include desktop {
    padding-top: desktop-vw(160px);
    padding-bottom: desktop-vw(320px);
  }

  .inner {
    position: relative;
  }

  .intro {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      max-width: 50%;
    }
  }

  .title {
    margin-bottom: mobile-vw(64px);

    @include desktop {
      margin-bottom: desktop-vw(80px);
    }
  }

  .term {
    margin-top: mobile-vw(48px);
    margin-bottom: mobile-vw(12px);

    @include desktop {
      margin-top: desktop-vw(64px);
      margin-bottom: desktop-vw(16px);
    }
  }
}