@font-face {
  font-family: 'PressStart2P';
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-anton: 'Anton', sans-serif;
  --font-panchang: 'Panchang', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-pressstart: 'PressStart2P', monospace;
}
